//
// LET IT SNOW
// CSS SNOWFALL ANIMATION
// LESS AND HTML BY @wUFr
//


// BASIC BODY STYLE
// you dont need to use this
html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-content: stretch;
	align-items: center;

	background: black;
}


//
// BASIC STYLES
//
.snow_wrapper {
	position: @snow_wrapper_position;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	pointer-events: none; // just in case
	overflow: hidden; // no scrollbars

	& when (@snow_debug_mode = true){
		border: 2px solid green;
	}

	.snow_front when (@snow_flake_front_enabled = true){
		position: absolute;
		top: 0;
		left: 0;

		z-index: @snow_flake_front_z-index;

		width: 100%;
		height: 100%;

		pointer-events: none;
		user-select: none;

		background: url(@snow_flake_front_image);

		animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;

		& when (@snow_debug_mode = true){
			border: 1px solid red;

			&:before {
				content: "Front - FIRST";
			}
		}

		&.second {
			animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;

			& when (@snow_debug_mode = true){
				&:before {
					content: "Front - SECOND";
				}
			}
		}
	}

	.snow_mid when (@snow_flake_mid_enabled = true) {
		position: absolute;
		top: 0;
		left: 0;

		z-index: @snow_flake_mid_z-index;

		width: 100%;
		height: 100%;

		pointer-events: none;
		user-select: none;

		background: url(@snow_flake_mid_image);

		animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;

		& when (@snow_debug_mode = true){
			border: 1px solid orange;

			&:before {
				content: "Mid - FIRST";
			}
		}

		&.second {
			animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;

			& when (@snow_debug_mode = true){
				&:before {
					content: "Mid - SECOND";
				}
			}
		}
	}

	.snow_back when (@snow_flake_back_enabled = true) {
		position: absolute;
		top: 0;
		left: 0;

		z-index: @snow_flake_back_z-index;

		width: 100%;
		height: 100%;

		pointer-events: none;
		user-select: none;

		background: url(@snow_flake_back_image);

		animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;

		& when (@snow_debug_mode = true){
			border: 1px solid black;

			&:before {
				content: "Back - FIRST";
			}
		}

		&.second {
			animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;

			& when (@snow_debug_mode = true){
				&:before {
					content: "Back - SECOND";
				}
			}
		}
	}
}