//
// LET IT SNOW
// CSS SNOWFALL ANIMATION
// LESS AND HTML BY @wUFr
//


// BASIC BODY STYLE
// you dont need to use this
html,
body {
	height: 100%;
}

body {
	// I KNOW, THIS SHOULD BE IN MIXIN, BUT I WONT USE IT ANYWHERE ELSE, I PROMISE
	& when (@snow_ms_prefixes = true){
		display: -ms-flexbox;
	}
	& when (@snow_webkit_prefixes = true){
		display: -webkit-flex;
	}
	display: flex;

	& when (@snow_webkit_prefixes = true){
		-webkit-flex-direction: row;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-direction: row;
	}
	flex-direction: row;

	& when (@snow_webkit_prefixes = true){
		-webkit-flex-wrap: nowrap;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-wrap: nowrap;
	}
	flex-wrap: nowrap;

	& when (@snow_webkit_prefixes = true){
		-webkit-justify-content: center;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-pack: center;
	}
	justify-content: center;

	& when (@snow_webkit_prefixes = true){
		-webkit-align-content: stretch;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-line-pack: stretch;
	}
	align-content: stretch;

	& when (@snow_webkit_prefixes = true){
		-webkit-align-items: center;
	}
	& when (@snow_ms_prefixes = true){
		-ms-flex-align: center;
	}
	align-items: center;

	background: #c4dbe8;
	font-family: "Comic Sans MS", sans-serif;

	h1 {
		width: 100%;
		text-align: center;
		font-size: 60px;
		color: #4e7489;	
	}
}

// THE STUFF YOU'RE LOOKING FOR BEGINS HERE
// ----------------- DOWN HERE --------------------


//
// FOREGROUND SNOW ANIMATION
//
& when (@snow_flake_front_enabled = true){
	@keyframes snowfall_front {
		0% {top: 0;opacity: @snow_flake_front_opacity;left: 0px;}
		30% {left: -30px;}
		60% {left: -60px;}
		100% {top: 100%;opacity: @snow_flake_front_opacity;left: 0px;}
	}

	@keyframes snowfall_front_second {
		0% {top: -100%;opacity: @snow_flake_front_opacity;left: 20px;}
		30% {left: 30px;}
		60% {left: -25px;}
		100% {top: 0;opacity: @snow_flake_front_opacity;left: 0;}
	}

	& when (@snow_webkit_prefixes = true){
		@-webkit-keyframes snowfall_front {
			0% {top: 0;opacity: @snow_flake_front_opacity;left: 0px;}
			30% {left: -30px;}
			60% {left: -60px;}
			100% {top: 100%;opacity: @snow_flake_front_opacity;left: 0px;}
		}

		@-webkit-keyframes snowfall_front_second {
			0% {top: -100%;opacity: @snow_flake_front_opacity;left: 20px;}
			30% {left: 30px;}
			60% {left: -25px;}
			100% {top: 0;opacity: @snow_flake_front_opacity;left: 0;}
		}
	}

	& when (@snow_moz_prefixes = true){
		@-moz-keyframes snowfall_front {
			0% {top: 0;opacity: @snow_flake_front_opacity;left: 0px;}
			30% {left: -30px;}
			60% {left: -60px;}
			100% {top: 100%;opacity: @snow_flake_front_opacity;left: 0px;}
		}

		@-moz-keyframes snowfall_front_second {
			0% {top: -100%;opacity: @snow_flake_front_opacity;left: 20px;}
			30% {left: 30px;}
			60% {left: -25px;}
			100% {top: 0;opacity: @snow_flake_front_opacity;left: 0;}
		}
	}

	& when (@snow_ms_prefixes = true){
		@-ms-keyframes snowfall_front {
			0% {top: 0;opacity: @snow_flake_front_opacity;left: 0px;}
			30% {left: -30px;}
			60% {left: -60px;}
			100% {top: 100%;opacity: @snow_flake_front_opacity;left: 0px;}
		}

		@-ms-keyframes snowfall_front_second {
			0% {top: -100%;opacity: @snow_flake_front_opacity;left: 20px;}
			30% {left: 30px;}
			60% {left: -25px;}
			100% {top: 0;opacity: @snow_flake_front_opacity;left: 0;}
		}
	}

	& when (@snow_o_prefixes = true){
		@-o-keyframes snowfall_front {
			0% {top: 0;opacity: @snow_flake_front_opacity;left: 0px;}
			30% {left: -30px;}
			60% {left: -60px;}
			100% {top: 100%;opacity: @snow_flake_front_opacity;left: 0px;}
		}

		@-o-keyframes snowfall_front_second {
			0% {top: -100%;opacity: @snow_flake_front_opacity;left: 20px;}
			30% {left: 30px;}
			60% {left: -25px;}
			100% {top: 0;opacity: @snow_flake_front_opacity;left: 0;}
		}
	}
}


//
// MIDGROUND SNOW ANIMATION
//
& when (@snow_flake_mid_enabled = true){
	@keyframes snowfall_mid {
		0% {top: 0;opacity: @snow_flake_mid_opacity;left: 0px;}
		30% {left: 30px;}
		60% {left: -20px;}
		100% {top: 100%;opacity: @snow_flake_mid_opacity;left: 0px;}
	}

	@keyframes snowfall_mid_second {
		0% {top: -100%;opacity: @snow_flake_mid_opacity;left: 20px;}
		30% {left: -25px;}
		60% {left: -30px;}
		100% {top: 0;opacity: @snow_flake_mid_opacity;left: 0;}
	}

	& when (@snow_webkit_prefixes = true){
		@-webkit-keyframes snowfall_mid {
			0% {top: 0;opacity: @snow_flake_mid_opacity;left: 0px;}
			30% {left: 30px;}
			60% {left: -20px;}
			100% {top: 100%;opacity: @snow_flake_mid_opacity;left: 0px;}
		}

		@-webkit-keyframes snowfall_mid_second {
			0% {top: -100%;opacity: @snow_flake_mid_opacity;left: 20px;}
			30% {left: -25px;}
			60% {left: -30px;}
			100% {top: 0;opacity: @snow_flake_mid_opacity;left: 0;}
		}
	}

	& when (@snow_moz_prefixes = true){
		@-moz-keyframes snowfall_mid {
			0% {top: 0;opacity: @snow_flake_mid_opacity;left: 0px;}
			30% {left: 30px;}
			60% {left: -20px;}
			100% {top: 100%;opacity: @snow_flake_mid_opacity;left: 0px;}
		}

		@-moz-keyframes snowfall_mid_second {
			0% {top: -100%;opacity: @snow_flake_mid_opacity;left: 20px;}
			30% {left: -25px;}
			60% {left: -30px;}
			100% {top: 0;opacity: @snow_flake_mid_opacity;left: 0;}
		}
	}

	& when (@snow_ms_prefixes = true){
		@-ms-keyframes snowfall_mid {
			0% {top: 0;opacity: @snow_flake_mid_opacity;left: 0px;}
			30% {left: 30px;}
			60% {left: -20px;}
			100% {top: 100%;opacity: @snow_flake_mid_opacity;left: 0px;}
		}

		@-ms-keyframes snowfall_mid_second {
			0% {top: -100%;opacity: @snow_flake_mid_opacity;left: 20px;}
			30% {left: -25px;}
			60% {left: -30px;}
			100% {top: 0;opacity: @snow_flake_mid_opacity;left: 0;}
		}
	}

	& when (@snow_o_prefixes = true){
		@-o-keyframes snowfall_mid {
			0% {top: 0;opacity: @snow_flake_mid_opacity;left: 0px;}
			30% {left: 30px;}
			60% {left: -20px;}
			100% {top: 100%;opacity: @snow_flake_mid_opacity;left: 0px;}
		}

		@-o-keyframes snowfall_mid_second {
			0% {top: -100%;opacity: @snow_flake_mid_opacity;left: 20px;}
			30% {left: -25px;}
			60% {left: -30px;}
			100% {top: 0;opacity: @snow_flake_mid_opacity;left: 0;}
		}
	}
}


//
// BACKGROUND SNOW ANIMATION
//
& when (@snow_flake_back_enabled = true){
	@keyframes snowfall_back {
		0% {top: 0;opacity: @snow_flake_back_opacity;left: 10px;}
		30% {left: -8px;}
		60% {left: -10px;}
		100% {top: 100%;opacity: @snow_flake_back_opacity;left: -10px;}
	}

	@keyframes snowfall_back_second {
		0% {top: -100%;opacity: @snow_flake_back_opacity;left: 20px;}
		30% {left: -5px;}
		60% {left: 15px;}
		100% {top: 0;opacity: @snow_flake_back_opacity;left: 0;}
	}

	& when (@snow_webkit_prefixes = true){
		@-webkit-keyframes snowfall_back {
			0% {top: 0;opacity: @snow_flake_back_opacity;left: 10px;}
			30% {left: -8px;}
			60% {left: -10px;}
			100% {top: 100%;opacity: @snow_flake_back_opacity;left: -10px;}
		}

		@-webkit-keyframes snowfall_back_second {
			0% {top: -100%;opacity: @snow_flake_back_opacity;left: 20px;}
			30% {left: -5px;}
			60% {left: 15px;}
			100% {top: 0;opacity: @snow_flake_back_opacity;left: 0;}
		}
	}

	& when (@snow_moz_prefixes = true){
		@-moz-keyframes snowfall_back {
			0% {top: 0;opacity: @snow_flake_back_opacity;left: 10px;}
			30% {left: -8px;}
			60% {left: -10px;}
			100% {top: 100%;opacity: @snow_flake_back_opacity;left: -10px;}
		}

		@-moz-keyframes snowfall_back_second {
			0% {top: -100%;opacity: @snow_flake_back_opacity;left: 20px;}
			30% {left: -5px;}
			60% {left: 15px;}
			100% {top: 0;opacity: @snow_flake_back_opacity;left: 0;}
		}
	}

	& when (@snow_ms_prefixes = true){
		@-ms-keyframes snowfall_back {
			0% {top: 0;opacity: @snow_flake_back_opacity;left: 10px;}
			30% {left: -8px;}
			60% {left: -10px;}
			100% {top: 100%;opacity: @snow_flake_back_opacity;left: -10px;}
		}

		@-ms-keyframes snowfall_back_second {
			0% {top: -100%;opacity: @snow_flake_back_opacity;left: 20px;}
			30% {left: -5px;}
			60% {left: 15px;}
			100% {top: 0;opacity: @snow_flake_back_opacity;left: 0;}
		}
	}

	& when (@snow_o_prefixes = true){
		@-o-keyframes snowfall_back {
			0% {top: 0;opacity: @snow_flake_back_opacity;left: 10px;}
			30% {left: -8px;}
			60% {left: -10px;}
			100% {top: 100%;opacity: @snow_flake_back_opacity;left: -10px;}
		}

		@-o-keyframes snowfall_back_second {
			0% {top: -100%;opacity: @snow_flake_back_opacity;left: 20px;}
			30% {left: -5px;}
			60% {left: 15px;}
			100% {top: 0;opacity: @snow_flake_back_opacity;left: 0;}
		}
	}
}

//
// BASIC STYLES
//
.snow_wrapper {
	position: @snow_wrapper_position;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none; // just in case
	overflow: hidden; // no scrollbars

	.snow_front when (@snow_flake_front_enabled = true){
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
		background: url(@snow_flake_front_image);

		& when (@snow_webkit_prefixes = true){
			-webkit-animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
		}

		& when (@snow_moz_prefixes = true){
			-moz-animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
		}

		& when (@snow_ms_prefixes = true){
			-ms-animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
		}

		& when (@snow_o_prefixes = true){
			-o-animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
		}

		animation: snowfall_front @snow_flake_front_timing infinite @snow_flake_front_easing;
		opacity: 0;
		z-index: 100;

		&.second {
			& when (@snow_webkit_prefixes = true){
				-webkit-animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
			}

			& when (@snow_moz_prefixes = true){
				-moz-animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
			}

			& when (@snow_ms_prefixes = true){
				-ms-animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
			}

			& when (@snow_o_prefixes = true){
				-o-animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
			}

			animation: snowfall_front_second @snow_flake_front_timing infinite @snow_flake_front_easing;
			z-index: 100;
		}
	}

	.snow_mid when (@snow_flake_mid_enabled = true) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
		background: url(@snow_flake_mid_image);

		& when (@snow_webkit_prefixes = true){
			-webkit-animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
		}

		& when (@snow_moz_prefixes = true){
			-moz-animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
		}

		& when (@snow_ms_prefixes = true){
			-ms-animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
		}

		& when (@snow_o_prefixes = true){
			-o-animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
		}

		animation: snowfall_mid @snow_flake_mid_timing infinite @snow_flake_mid_easing;
		opacity: 0;
		z-index: 100;

		&.second {
			& when (@snow_webkit_prefixes = true){
				-webkit-animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			}

			& when (@snow_moz_prefixes = true){
				-moz-animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			}

			& when (@snow_ms_prefixes = true){
				-ms-animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			}

			& when (@snow_o_prefixes = true){
				-o-animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			}
			
			animation: snowfall_mid_second @snow_flake_mid_timing infinite @snow_flake_mid_easing;
			z-index: 100;
		}
	}

	.snow_back when (@snow_flake_back_enabled = true) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
		background: url(@snow_flake_back_image);

		& when (@snow_webkit_prefixes = true){
			-webkit-animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
		}

		& when (@snow_moz_prefixes = true){
			-moz-animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
		}

		& when (@snow_ms_prefixes = true){
			-ms-animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
		}

		& when (@snow_o_prefixes = true){
			-o-animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
		}

		animation: snowfall_back @snow_flake_back_timing infinite @snow_flake_back_easing;
		opacity: 0;
		z-index: 100;

		&.second {
			& when (@snow_webkit_prefixes = true){
				-webkit-animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
			}

			& when (@snow_moz_prefixes = true){
				-moz-animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
			}

			& when (@snow_ms_prefixes = true){
				-ms-animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
			}

			& when (@snow_o_prefixes = true){
				-o-animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
			}
			
			animation: snowfall_back_second @snow_flake_back_timing infinite @snow_flake_back_easing;
			z-index: 100;
		}
	}
}